<template>
  <div id="app">

    <!-- Header -->

    <!-- Mobile / small devices -->
    <header class="">
      <nav class="uk-navbar uk-navbar-container uk-margin uk-hidden@m uk-navbar-container-modified">
          <div class="uk-navbar-left">
              <a class="uk-navbar-toggle" href="#" uk-toggle="target: #offcanvas-usage;">
                  <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left text-white">Menu</span>
              </a>
          </div>
          <div class="uk-navbar-right uk-padding-small">
            <img src="./assets/logo.svg" width="50" height="50">
          </div>
      </nav>

      <div id="offcanvas-usage" uk-offcanvas>
        <div class="uk-offcanvas-bar">
          <h2 class="hero uk-text-bold uk-text-center uk-padding">EnviroSense</h2>
          <div class="uk-text-large uk-text-center uk-padding-small">
            <div class="uk-margin-bottom"><router-link to="/">Dashboard</router-link></div>
            <div class="uk-margin-bottom"><router-link to="/history">History</router-link></div>
            <div class="uk-margin-bottom
            "><router-link to="/config">Configuration</router-link></div>
          </div>
        </div>
      </div>
      <!-- Mobile / small devices -->

      <!-- Desktop / iPad -->
      <nav class="sidenav uk-visible@m">
        <div class="uk-text-center uk-padding-small">
          <img src="./assets/logo.svg" width="100" height="100">
          <h2 class="hero uk-text-bold uk-text-center">EnviroSense</h2>
        </div>
        <div>
          <router-link to="/">Dashboard</router-link>
          <router-link to="/history">History</router-link>
          <router-link to="/config">Configuration</router-link>
        </div>
      </nav>
      <!-- Desktop / iPad -->
    </header>

    <div class="sidenavShow"> <!-- Main Component Display -->
        <router-view/>
    </div>

  </div>
</template>

<script>
export default{
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color:white;
}

.uk-navbar-container-modified{
  background-color: black !important;
}

.text-white{
  color:white !important;
  font-weight: bold !important;
}

.sidenav {
  position: fixed;
  height:100%;
  box-sizing: border-box;
  width: 260px !important;
  padding: 40px 20px 60px 20px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
  background-color: black;
}

@media (min-width: 960px){
.sidenavShow{
  padding-left:260px !important;
  padding-top:20px !important;
}
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.iconMaster{
  text-align: center;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
</style>
