<template>
  <div class="uk-container">
    <div class="uk-inline uk-width-1-1" >
      <div class="uk-text-center uk-margin-top">
        <h1 class="hero-title">{{ title }}</h1>
      </div>
      <div v-if="status == 0" class="uk-width-1-1 uk-text-center uk-padding-large uk-spinner" uk-spinner="ratio: 3"></div>
      <div class="uk-margin-large-top uk-margin" v-bind:class="[{ 'uk-hidden': status == 0 }]">
        <form>
          <fieldset class="uk-fieldset uk-width-large">
            <div class="uk-margin-bottom">
              <span class="uk-text-middle uk-width-1-4">Device Name</span>
              <input class="uk-input uk-width-3-4" type="text" placeholder="Enter device name" v-model="ownerName" />
            </div>
            <div class="uk-margin-bottom">
              <span class="uk-text-middle uk-width-small">Data Logging Frequency</span>
              <input class="uk-input uk-width-small" type="number" v-model="dataLoggerFrequency">
              <span class="uk-text-middle uk-width-1-3">minutes</span>
            </div>
            <div class="uk-margin-bottom">
              <span class="uk-text-middle uk-width-small">Data Logging Frequency</span>
              <input class="uk-input uk-width-small" type="number" v-model="pushMonitorFrequency">
              <span class="uk-text-middle uk-width-small">minutes</span>
            </div>
            <div class="uk-margin-bottom">
              <button class="uk-button uk-button-default" v-on:click="saveData(ownerName, dataLoggerFrequency, pushMonitorFrequency)">Save</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require('axios')
export default {
  name: 'Configuration',
  data () {
    return {
      title: 'Configuration',
      info: null,
      status: 1, // 0 = Loading, -1 = Error, 1 = Success
      ownerName: '',
      dataLoggerFrequency: 30,
      pushMonitorFrequency: 15
    }
  },
  methods: {
    loadConfig: async function () {
      this.status = 0
      var validity = false
      console.log(this)
      var resp
      try {
        resp = await axios({
          method: 'GET',
          url: '/api/config/sensorInterval',
          timeout: 10 * 1000 // 10 seconds of timeout
        })
          .catch((error) => {
            this.status = -1
            console.log(error)
            validity = false
          })
        validity = true
      } catch (error) {
        console.error(error)
        validity = false
      }
      if (validity) {
        this.ownerName = resp.data.ownerName
        this.dataLoggerFrequency = resp.data.dataLoggerFrequency
        this.pushMonitorFrequency = resp.data.pushMonitorFrequency
        this.status = 1
      }
    },
    saveData: (ownerName, dataLoggerFrequency, pushMonitorFrequency) => {
      this.status = 0
      var bodyData = new FormData()
      bodyData.set('ownerName', ownerName)
      bodyData.set('dataLoggerFrequency', dataLoggerFrequency)
      bodyData.set('pushMonitorFrequency', pushMonitorFrequency)
      try {
        axios({
          method: 'POST',
          url: '/api/config/sensorInterval/',
          data: bodyData,
          responseType: 'json'
        })
          .then((respond) => {
            if (respond.data.code !== 1) {
              throw new TypeError('Server said could not save the data')
            }
          })
      } catch (error) {
        console.error(error)
      }

      this.status = 1
    }
  },
  mounted () {
    this.loadConfig()
  }
}
</script>

<style scoped>
.hero-title{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 0px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title{
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.padding-down{
  margin-bottom: 55px;
}.

.display-graph{
  width: 100%;
}

</style>
