<template>
  <div class="uk-container">
    <div class="uk-inline uk-width-1-1">
      <div class="uk-text-center uk-margin-top">
        <h1 class="hero-title">{{ title }}</h1>
      </div>
      <div class="uk-divider-icon uk-margin"></div>
      <div class="uk-padding padding-down uk-card uk-card-default uk-card-body">
        <h1 class="title">Temperature (°C)</h1>
        <div v-bind:class="[{ 'uk-hidden': status != 0 }, { 'uk-spinner': status == 0 }]" class="uk-width-1-1 uk-text-center uk-padding-large" uk-spinner="ratio: 3"></div>
        <div v-bind:class="{ 'uk-hidden': status != -1}" class="uk-text-center uk-padding-large">
          <h2 class="uk-width-1-1 uk-text-center">Unable to fetch data from Server</h2>
          <button v-on:click="loadDashboard" class="uk-button uk-button-primary uk-button-large">Retry</button>
        </div>
        <div id="temperature" class="display-graph"></div>
      </div>
      <div class="uk-padding padding-down uk-card uk-card-default uk-card-body">
        <h1 class="title">Humidity (%)</h1>
        <div v-bind:class="[{ 'uk-hidden': status != 0 }, { 'uk-spinner': status == 0 }]" class="uk-width-1-1 uk-text-center uk-padding-large" uk-spinner="ratio: 3"></div>
        <div v-bind:class="{ 'uk-hidden': status != -1}" class="uk-text-center uk-padding-large">
          <h2 class="uk-width-1-1 uk-text-center">Unable to fetch data from Server</h2>
          <button v-on:click="loadDashboard" class="uk-button uk-button-primary uk-button-large">Retry</button>
        </div>
        <div id="humidity" class="display-graph"></div>
      </div>
      <div class="uk-padding padding-down uk-card uk-card-default uk-card-body">
        <h1 class="title">Pressure (millibar)</h1>
        <div v-bind:class="[{ 'uk-hidden': status != 0 }, { 'uk-spinner': status == 0 }]" class="uk-width-1-1 uk-text-center uk-padding-large" uk-spinner="ratio: 3"></div>
        <div v-bind:class="{ 'uk-hidden': status != -1}" class="uk-text-center uk-padding-large">
          <h2 class="uk-width-1-1 uk-text-center">Unable to fetch data from Server</h2>
          <button v-on:click="loadDashboard" class="uk-button uk-button-primary uk-button-large">Retry</button>
        </div>
        <div id="pressure" class="display-graph"></div>
      </div>

      <div class="uk-divider-icon uk-margin"></div>

      <div class="uk-text-center">
        <div class="uk-margin-small uk-flex uk-flex-center" id="pageNumber">
          <button class="uk-button uk-button-default" v-on:click="pageChange(-1)">
            <svg width="10" height="20" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" stroke="#000" stroke-width="1.4" points="12.775,1 1.225,12 12.775,23 "></polyline></svg>
          </button>
          <div class="uk-text-center uk-text-middle uk-padding-small">Page {{ this.page }}</div>
          <button class="uk-button uk-button-default" v-on:click="pageChange(1)">
            <svg width="10" height="20" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" stroke="#000" stroke-width="1.4" points="1.225,23 12.775,12 1.225,1 "></polyline></svg>
          </button>
        </div>
        <div class="" id="dataPerPage">
          <h6>Data per Page: {{ this.itemPerPage }}</h6>
          <input class="uk-range uk-width-2-3" type="range" value="20" min="10" max="40" step="1" v-model="itemPerPage" @change="loadDashboard" />
        </div>
        <div class="uk-text-center uk-padding">
          <button class="uk-button uk-button-default" v-on:click="loadDashboard">
            <img src="../assets/reload.svg" width="30" height="30" uk-svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const c3 = require('c3')
// eslint-disable-next-line
const d3 = require('d3')
const axios = require('axios')
// Workaround below are referenced from
// https://stackoverflow.com/questions/3075577/convert-mysql-datetime-stamp-into-javascripts-date-format
Date.createFromMysql = function (mysqlString) {
  var t
  var result
  if (typeof mysqlString === 'string') {
    t = mysqlString.split(/[- :]/)
    result = new Date(t[0], t[1] - 1, t[2], t[3] || 0, t[4] || 0, t[5] || 0)
  }
  return result
}
export default {
  name: 'Dashboard',
  data () {
    return {
      title: 'Dashboard',
      info: null,
      status: 0, // 0 = Loading, -1 = Error, 1 = Success
      graphTimeName: 'time',
      graphTemperature: [],
      graphHumidity: [],
      graphPressure: [],
      itemPerPage: 30,
      page: 1
      /* It should be filled like this:
      [
        ['time', '2018-08-10 10:00', '2018-08-10 10:30'],
        ['temperature', 30.7, 31.0],
        ['humidity', 45.5, 45.7],
        ['pressure', 1000.9, 1000.8]
      ]
      Refer to C3.JS documentation for more details
      */
    }
  },
  methods: {
    // Requies injection since using v-bind:class in Vue will override most of
    // the classes defined by other libraries
    statusChange: function (status) {
      this.status = status
      switch (status) {
        case 0:
          document.getElementById('temperature').style.display = 'none'
          document.getElementById('humidity').style.display = 'none'
          document.getElementById('pressure').style.display = 'none'
          break
        default:
          document.getElementById('temperature').style.display = ''
          document.getElementById('humidity').style.display = ''
          document.getElementById('pressure').style.display = ''
      }
    },
    loadDashboard: function () {
      this.statusChange(0)
      axios({
        method: 'GET',
        url: '/api/fetch/' + this.itemPerPage + '/' + this.page,
        timeout: 10 * 1000 // 10 seconds of timeout
      })
        .then(response => {
          const data = response
          this.graphTemperature = this.loadData(this.graphTimeName, 'temperature', data.data)
          this.graphHumidity = this.loadData(this.graphTimeName, 'humidity', data.data)
          this.graphPressure = this.loadData(this.graphTimeName, 'pressure', data.data)
          this.statusChange(1)
          this.drawGraph('#temperature', this.graphTimeName, this.graphTemperature).flush()
          this.drawGraph('#humidity', this.graphTimeName, this.graphHumidity).flush()
          this.drawGraph('#pressure', this.graphTimeName, this.graphPressure).flush()
        })
        .catch((error) => {
          this.statusChange(-1)
          console.log(error)
        })
    },
    loadData: (graphXAxis, graphName, response) => {
      var cache = []
      var time = [graphXAxis]
      var data = [graphName]
      var temp = ''
      for (var iter = 0; iter < response.length; ++iter) {
        temp = Date.createFromMysql(response[iter][graphXAxis])
        time.push(temp)
      }
      for (var iter2 = 0; iter2 < response.length; ++iter2) {
        data.push(response[iter2][graphName])
      }
      cache.push(time)
      cache.push(data)
      return cache
    },
    drawGraph: function (graphName, graphXTitle, graphData) {
      var title = graphData[1][0]
      var color = '#000'
      switch (title) {
        case 'temperature':
          color = '#5990ff'
          break
        case 'humidity':
          color = '#d85250'
          break
        case 'pressure':
          color = '#29dba6'
          break
      }
      return c3.generate({
        bindto: graphName,
        data: {
          x: graphXTitle,
          columns: graphData,
          order: 'desc',
          colors: {
            [title]: color
          }
        },
        axis: {
          x: {
            type: 'timeseries',
            tick: {
              format: '%H:%M'
            }
          }
        }
      })
    },
    pageChange: async function (addValue) {
      var validity = false
      var maxPage = 0
      var newPage = this.page + addValue
      try {
        const response = await axios.get('/api/maxPage/' + this.itemPerPage)
        validity = true
        maxPage = response.data.pageCount
      } catch (error) {
        console.log(error)
        validity = false
      }
      console.log('maxPage: ' + maxPage)
      if (validity) {
        if (!(newPage > maxPage || newPage < 1)) {
          this.page = newPage
          this.loadDashboard()
        }
      }
    }
  },
  mounted () {
    this.loadDashboard()
  }
}
</script>

<style scoped>
.hero-title{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 0px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title{
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.padding-down{
  margin-bottom: 55px;
}.

.display-graph{
  width: 100%;
}

</style>
