<template>
  <div class="uk-container">
    <div class="uk-inline uk-width-1-1">
      <div v-bind:class="[{ 'uk-hidden': status != 0 }, { 'uk-spinner': status == 0 }]" class="uk-width-1-1 uk-text-center uk-padding-large" uk-spinner="ratio: 3"></div>
      <div class="uk-text-center uk-padding-small">
        <h1 class="hero-title">{{ title }}</h1>
      </div>
      <div v-bind:class="{ 'uk-hidden': status != -1}" class="uk-text-center uk-padding-large">
        <h2 class="uk-width-1-1 uk-text-center">Unable to fetch data from Server</h2>
        <button v-on:click="loadHistory" class="uk-button uk-button-primary uk-button-large">Retry</button>
      </div>
      <div v-bind:class=" { 'uk-hidden': status < 1 }">
        <div class="uk-overflow-auto uk-margin">
          <table class="uk-table uk-table-hover uk-table-divider">
            <thead>
              <tr>
                  <th>Date / Time</th>
                  <th>Temperature (°C)</th>
                  <th>Humidity (%)</th>
                  <th>Pressure (millibar)</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for='item in responses' :key="item.time">
                <td>{{ item.time }}</td>
                <td>{{ item.temperature.toFixed(2) + ' °C' }}</td>
                <td>{{ item.humidity.toFixed(2) + ' %' }}</td>
                <td>{{ item.pressure.toFixed(2) + ' mbar' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="uk-text-center uk-padding">
          <button class="uk-button uk-button-default" v-on:click="loadHistory">
            <img src="../assets/reload.svg" width="30" height="30" uk-svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require('axios')
export default {
  name: 'History',
  data () {
    return {
      title: 'History Data',
      info: null,
      status: 0, // 0 = Loading, -1 = Error, 1 = Success
      itemPerPage: 20,
      page: 1,
      responses: []
    }
  },
  methods: {
    loadHistory: function () {
      this.status = 0
      this.responses = []
      axios({
        method: 'GET',
        url: '/api/fetchAll',
        timeout: 10 * 1000 // 10 seconds of timeout
      })
        .then(response => {
          this.responses = response.data
          this.status = 1
        })
        .catch((error) => {
          this.status = -1
          console.log(error)
        })
    }
  },
  mounted () {
    this.loadHistory()
  }
}
</script>

<style scoped>
.hero-title{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title{
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.padding-down{
  margin-bottom: 55px;
}.

.display-graph{
  width: 100%;
}
</style>
