<template>
  <div class="uk-container uk-padding-large">
    <h1>{{ title }}</h1>
    <h4>{{ msg }}</h4>
    <p>
      <router-link to="/">Go to Dashboard</router-link>
    </p>
  </div>
</template>

<script>
export default {
  name: 'PageNotFound',
  data () {
    return {
      title: '404',
      msg: 'Oops, Page could not be found!'
    }
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
